<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'first_app/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Libre+Baskerville|Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'first_app/images/fav.png' %}" />
    <title>Sue Chef</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.5/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.5/addons/p5.dom.js"></script>
    <!-- <script src="p5.speech.js"></script> -->
    <script src="https://github.com/IDMNYU/p5.js-speech/blob/master/lib/p5.speech.js"></script>
</head>

<body style="background-color: #86a7a7; padding: 20px 30px; color: white;">

    <div class="step-instruction">
        <h1 style="margin-top: 100px;">Congratuations! You just made {{ recipe.title|title}}! </h1>
        {% if recipe.title == "tuna poke" %}
        <img style="width: 500px;" src="{% static 'first_app/images/tp.png' %}" />
        {% else %}
        <img style="width: 500px;" src="{% static 'first_app/images/ac.png' %}" />
        {% endif %}
    </div> 

    <div class="controls" style="position:fixed;">
        <a href="/"><button style="border:solid 1px white;">Done</button></a>
    </div>

    <div class="recipe-home logo">
        <a href="/"><img class="recipe-pic" style="width:50px;"
                src="{% static 'first_app/images/logo-white.png' %}" /></a>
    </div>
</body>

</html>