<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="static/first_app/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Libre+Baskerville|Montserrat" rel="stylesheet">
    <title>Sue Chef</title>
</head>

<body>
    <div class="recipe-home">
        <img class="recipe-pic" style="width:590px;" src="static/first_app/images/tuna-poke.png" />
    </div>

    <div class="recipe-home r-description">
        <h1 style="width: 380px;">Tuna Poke</h1>
        <div class="icons">
            <div class="icon">
                <img src="static/first_app/images/time.png" />
                <p>30 min</p>
            </div>
            <div class="icon">
                <img src="static/first_app/images/servings.png" />
                <p>4 srvs</p>
            </div>
            <div class="icon">
                <img src="static/first_app/images/calories.png" />
                <p>372 cals</p>
            </div>
        </div>
        <div>
            <div class="main-ingredient">
                <h3>Tuna</h3>
            </div>
            <div class="main-ingredient">
                <h3>Avocado</h3>
            </div>
            <div class="main-ingredient">
                <h3>Mango</h3>
            </div>
        </div>
        <div>
            <p>This is not your average poke recipe. Made with juicy mango and creamy avocado, it explodes with unique
                flavors.</p>
            <p>A good party snack or fancy side to any meal, this recipe has been tested and tweaked to provide the most
                pleasurable cooking experience and most delicous outcome.</p>
        </div>
        <div class="all-set">
            <img style="width:40px;" src="static/first_app/images/check.png"/>
            <h2>You're all set</h2>
        </div>
        <a href="/ingredients"><button>Get Cooking <img style="width:20px; padding-left: 15px;" src="static/first_app/images/arrow.png"/></button></a>
    </div>

    <div class="recipe-home logo">
        <a href="/"><img class="recipe-pic" style="width:50px;" src="static/first_app/images/logo.png" /></a>
    </div>
</body>

</html>